.jar {
  background-color: #f3f4f4;
  border: 1px solid #dee1e1;
  height: 35em;
  width: 22em;
  border-radius: 1rem;
  display: inline-block;
  margin: 4em 2em;
  position: relative;
}

.loadbutton {
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.togglebutton {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1em;
}

.on-recipe {
  background-color: transparent;
}

.span-icon {
  position: absolute;
  color: white;
  left: 2px;
  margin-left: 1em;
  font-size: large;
}

.jar-status {
  background-color: red;
}

.status-temp-icon {
  position: absolute;
  left: 2px;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 1em;
}

.status-temp-icon {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 1em;
}

.temperature {
  margin-left: 3em;
  display: flex;
  align-items: center;
}

.status-rpm-icon {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}

.rpm {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.detail-container {
  padding: 4em 0;
  background-color: #f3f4f4;
  position: absolute;
  bottom: 3.5em;
  text-align: center;
  width: 100%;
}
