a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    justify-content: space-between;
    box-shadow: rgba(255, 255, 255, 0.8) 1px 5px 0px -1px;
    padding: 0.8rem 2rem;
    border-bottom: 2px solid #dee1e1;
    display: flex;
    color: #364141;
    text-align: center;
    vertical-align: middle;
}

.home {
    font-weight: bold;
    color: #273333;
    margin-right: 38em;
    font-size: 1.5em;
}

.general-nav {
    font-size: 0.9em;
    margin-top: 0.4em;
}
